.menu-grid {
  display: grid;
  grid-template-rows: 1fr;
  width: 90%;
  padding: 0 15px;
  margin: 0 auto;

  .menu-flex {
    display: flex;
    justify-content: center;
    align-items: center;

    .item-flex1 {
      display: flex;
      justify-content: center;
      align-items: center;

      .card-text {
        width: 280px;
        height: 270px;
        padding: 30px;
        background-color: #fff;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .menuitem-title {
          display: block;
          font-weight: 550;
          font-size: 20px;
          color: #222;
          margin: 0 0 10px 0;
        }

        .menuitem-description {
          display: block;
          font-size: 15px;
          color: #868e96;
          margin: 0 0 16px 0;
        }

        .menuitem-price {
          display: block;
          font-weight: 550;
          font-size: 28px;
          margin: 0 0 10px 0;
          color: #cf1d16;
        }
      }

      .card-image-cont {
        width: 280px;
        height: 270px;
        z-index: 2;

        .card-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .item-flex2 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;

      .card-text {
        width: 280px;
        height: 270px;
        padding: 30px;
        background-color: #fff;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .menuitem-title {
          display: block;
          font-weight: 550;
          font-size: 20px;
          color: #222;
          margin: 0 0 10px 0;
        }

        .menuitem-description {
          display: block;
          font-size: 15px;
          color: #868e96;
          margin: 0 0 16px 0;
        }

        .menuitem-price {
          display: block;
          font-weight: 550;
          font-size: 28px;
          margin: 0 0 10px 0;
          color: #cf1d16;
        }
      }

      .card-image-cont {
        width: 280px;
        height: 270px;
        z-index: 2;

        .card-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .menu-grid {
    max-width: 100%;

    .menu-flex {
      justify-content: space-evenly;

      .item-flex1 {
        flex-direction: column-reverse;
      }
      .item-flex2 {
        flex-direction: column-reverse;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .menu-grid {
    width: 90%;

    .menu-flex {
      flex-direction: column;

      .item-flex1 {
        flex-direction: column-reverse;

        .card-text {
          width: 100%;
          height: auto;
          padding: 30px 0;
        }

        .card-image-cont {
          width: 100%;
          height: auto;
        }
      }

      .item-flex2 {
        flex-direction: column-reverse;

        .card-text {
          width: 100%;
          height: auto;
          padding: 30px 0;
        }

        .card-image-cont {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
