.footer-section {
  background-color: #222;
  padding: 60px 60px 20px;

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
  }

  .author {
    display: flex;
    justify-content: center;
    align-items: center;

    .author-text {
      font-size: 15px;
      font-weight: 500;
      color: #868e96;
      margin: 70px 0 0;
    }
  }
}
