.newsletter {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  justify-content: center;
  align-items: center;
  padding: 70px 0;

  .news-title {
    font-size: 30px;
    font-weight: 550;
    color: #222;
    margin: 0 0 16px 0;
  }

  .news-text {
    font-size: 16px;
    width: 50%;
    text-align: center;
    font-weight: 450;
    color: #868e96;
    margin: 0 0 20px 0;
  }

  .form-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 16px 0;

    .news-input {
      width: 100%;
      padding: 12px 30px 12px 12px;
      background-color: #fff;
      border: 2px solid #868e96;
      font-size: 16px;
      color: #222;
      transition: all 0.3s ease;

      &:focus {
        border: 2px solid #f74d4a;
      }

      &::placeholder {
        font-size: 16px;
        color: #868e96;
      }
    }

    .sub-btn {
      background-color: #cf1d16;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      padding: 12px 28px;
      margin: 0 0 0 20px;
      border: 2px solid #cf1d16;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: #e62d2a;
        border: 2px solid #e62d2a;
      }
    }
  }
}
