.newsletter {
  background-color: #f8f9fa;
  padding: 70px 0;

  .news-title {
    font-size: 30px;
    text-align: center;
    font-weight: 550;
    color: #222;
    margin: 0 0 16px 0;
  }

  .news-text {
    font-size: 16px;
    width: 50%;
    text-align: center;
    font-weight: 450;
    color: #868e96;
    margin: 0 auto 20px;
  }

  .form-cont {
    display: grid;
    width: 65%;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto 0 330px;

    .news-input {
      width: 100%;
      height: auto;
      padding: 12px;
      background-color: #fff;
      border: 2px solid #ced4da;
      font-size: 16px;
      color: #222;
      transition: all 0.3s ease;

      &:focus {
        border: 2px solid #f74d4a;
      }

      &::placeholder {
        font-size: 16px;
        color: #868e96;
      }
    }

    .sub-btn {
      background-color: #cf1d16;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      padding: 12px 28px;
      margin: 0 0 0 20px;
      border: 2px solid #cf1d16;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: #e62d2a;
        border: 2px solid #e62d2a;
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .newsletter {
    padding: 70px 15px;

    .news-text {
      width: 90%;
    }

    .form-cont {
      display: grid;
      width: 95%;
      gap: unset;
      grid-template-columns: 65% 35%;
      margin: 0 auto 0 50px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .newsletter {
    .news-text {
      width: 90%;
    }

    .form-cont {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 90%;
      margin: 0 auto;

      .sub-btn {
        width: 100%;
        margin: unset;
      }
    }
  }
}
