.food-items-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 105px 70px;
  background-color: #f8f9fa;

  .food-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .food-item {
      width: 30%;
      height: 30%;
      margin: 0 0 24px 0;
    }

    .food-title {
      font-size: 25px;
      font-weight: 500;
      color: #cf1d16;
      margin: 0 0 24px 0;
    }

    .food-text {
      font-size: 18px;
      font-weight: 400;
      color: #868e96;
      margin: 0 0 16px 0;
      text-align: center;
    }
  }
}
