.blog-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  place-items: center;
  padding: 0 15px;
  margin: 0 auto 30px;

  .blog-item {
    display: flex;
    justify-content: center;
    align-items: center;

    .blog-image-cont {
      width: 270px;
      height: 302px;
      z-index: 2;

      .blog-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .blog-info {
      width: 270px;
      height: 302px;
      padding: 30px;
      background-color: #fff;
      z-index: 1;

      .blog-title {
        font-size: 20px;
        font-weight: 500;
        color: #222;
        margin: 0 0 8px 0;
      }

      .blog-date {
        font-size: 13px;
        color: #868e96;
        margin: 0 0 10px 0;

        span {
          margin: 0 2px 0 0;
        }
      }

      .blog-desc {
        font-size: 15px;
        font-weight: 450;
        color: #868e96;
        margin: 0 0 16px 0;
      }

      .blog-btn {
        background-color: #cf1d16;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        padding: 12px 28px;
        border: none;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: #e62d2a;
        }
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .blog-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    place-items: center;
    padding: 0 15px;
    margin: 0 auto 30px;

    .blog-item {
      flex-direction: column;
      justify-content: space-between;

      .blog-image-cont {
        width: 310px;
        height: 280px;
      }

      .blog-info {
        width: 310px;
        height: 280px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .blog-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;

    .blog-item {
      flex-direction: column;
      margin: 0 0 20px;

      .blog-image-cont {
        width: 100%;
        height: 210px;
      }

      .blog-info {
        width: 100%;
        height: auto;
      }
    }
  }
}
