.testimonies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  padding: 0 15px;
  margin: 0 auto;
  gap: 20px;

  .review {
    font-size: 18px;
    font-weight: 500;
    color: #222;
    margin: 0 0 25px 0;
  }

  .person-cont {
    display: flex;

    .person-image-cont {
      width: 80px;
      height: 80px;
      margin: 0 20px 0 0;

      .person-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .person-details {
      margin: 20px 0 0;

      .person-name {
        font-size: 18px;
        color: #222;
        font-weight: 500;
        margin: 0;
      }

      .person-occupation {
        font-size: 15px;
        font-weight: 500;
        color: #868e96;
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .testimonies {
    padding: unset;
    gap: 10px;

    .person-cont {
      display: flex;
      justify-content: flex-start;

      .person-details {
        width: 100px;
        margin: 0;

        .person-name {
          line-height: 1.2;
          margin: 5px 0;
        }

        .person-occupation {
          line-height: 1.2;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .testimonies {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    gap: 20px;

    .person-cont {
      margin: 0 0 20px;
    }
  }
}
