.chefs-grid-container {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 0 auto 50px;

  .chefs-wrapper {
    display: flex;
    justify-content: space-between;

    .chef-item {
      display: flex;
      flex-direction: column;

      .chef-image-cont {
        position: relative;
        width: 370px;
        height: 370px;
        overflow: hidden;

        .chef-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
          transition: transform 0.4s ease;
        }

        &:hover {
          .chef-image {
            transform: scale(1.1);
          }
        }
      }

      .chef-card {
        width: 370px;
        padding: 30px;
        text-align: center;

        .chef-name {
          font-size: 18px;
          font-weight: 500;
          color: #222;
          margin: 0 0 5px;
        }

        .chef-occupation {
          font-size: 15px;
          font-weight: 500;
          color: #868e96;
          margin: 0 0 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .chefs-grid-container {
    .chefs-wrapper {
      flex-wrap: wrap;

      .chef-item {
        width: calc(50% - 30px);

        .chef-image-cont {
          width: 350px;
          height: 350px;
        }

        .chef-card {
          width: 350px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .chefs-grid-container {
    .chefs-wrapper {
      display: flex;
      flex-direction: column;

      .chef-item {
        display: flex;
        flex-direction: column;

        .chef-image-cont {
          width: 100%;
          height: auto;
        }

        .chef-card {
          width: 100%;
        }
      }
    }
  }
}
